[submodule "1_secao01/1_secao01/dia02_classes_e_tipos_de_dados/exercicios"]
	path = 1_secao01/1_secao01/dia02_classes_e_tipos_de_dados/exercicios
	url = https://github.com/tryber/java-033-java-exercicio-lista-fundamentos-java
[submodule "2_secao02/2_secao02/projeto"]
	path = 2_secao02/2_secao02/projeto
	url = https://github.com/tryber/java-033-java-projeto-sistema-de-votacao
[submodule "3_secao03/dia02_injecao_de_dependencia_com_spring/3_secao03/dia02_injecao_de_dependencia_com_spring"]
	path = 3_secao03/dia02_injecao_de_dependencia_com_spring/3_secao03/dia02_injecao_de_dependencia_com_spring
	url = https://github.com/tryber/java-033-java-exercicio-relatorio-de-clima
[submodule "3_secao03/dia04_excecoes_try_catch_finally/3_secao03/dia04_excecoes_try_catch_finally/exercicios"]
	path = 3_secao03/dia04_excecoes_try_catch_finally/3_secao03/dia04_excecoes_try_catch_finally/exercicios
	url = https://github.com/tryber/java-fanbase
[submodule "3_secao03/dia05_testes_com_junit/3_secao03/dia05_testes_com_junit/exercicios"]
	path = 3_secao03/dia05_testes_com_junit/3_secao03/dia05_testes_com_junit/exercicios
	url = https://github.com/tryber/java-033-java-exercicio-caixa-eletronico
